.hero {
  background-image: url("fall2025.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
